:root {
  --container-width: 40rem;
  --board-gap: 0.25rem;
  --board-padding: 0.5rem;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.grid {
  --board-cols: auto-fit;
  --board-rows: auto-fit;
  --card-border-radius: 1rem;

  display: grid;
  grid-template-columns: repeat(var(--board-cols), 1fr);
  grid-template-rows: repeat(var(--board-rows), 1fr);
  gap: var(--board-gap);
  padding: var(--board-padding);
  perspective: 200rem;
  border: 2px dashed var(--mantine-color-gray-4);
  border-radius: calc(var(--card-border-radius) + var(--board-padding));
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--card-border-radius);
  transform-style: preserve-3d;
  transition: all 0.4s ease-in-out;
  border: 1px solid var(--mantine-color-gray-3);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  aspect-ratio: 1/1;
  user-select: none;

  img {
    height: 50%;
    aspect-ratio: 1/1;
    object-fit: contain;
  }
}

.front,
.back {
  position: absolute;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.front {
  background: #ff6b64;
  cursor: pointer;

  span {
    font-size: calc(
      (
          100vw / var(--board-cols) - (var(--board-gap) * var(--board-cols)) -
            (var(--board-padding) * 2)
        ) * 0.5 + 1.5rem
    );
    font-weight: 700;
    color: #fff;
  }

  @media all and (min-width: 40rem) {
    span {
      font-size: calc(
        (
            var(--container-width) / var(--board-cols) -
              (var(--board-gap) * var(--board-cols)) -
              (var(--board-padding) * 2)
          ) * 0.5 + 1.5rem
      );
    }
  }
}

.back {
  background: #fff;
  transform: rotateY(180deg);

  span {
    font-size: calc(
      (
          100vw / var(--board-cols) - (var(--board-gap) * var(--board-cols)) -
            (var(--board-padding) * 2)
        ) * 0.625 + 1.5rem
    );
  }

  @media all and (min-width: 40rem) {
    span {
      font-size: calc(
        (
            var(--container-width) / var(--board-cols) -
              (var(--board-gap) * var(--board-cols)) -
              (var(--board-padding) * 2)
          ) * 0.625 + 1.5rem
      );
    }
  }
}

.flip {
  transform: rotateY(180deg);
}
