.grid {
  --board-cols: auto-fit;
  --board-rows: auto-fit;
  display: grid;
  grid-template-columns: repeat(var(--board-cols), minmax(100px, 1fr));
  grid-template-rows: repeat(var(--board-rows), minmax(100px, 1fr));
  gap: 1rem;
  height: calc(100vh - 8.25rem);
  padding: 2rem;
  margin: 2rem;
  perspective: 200rem;
  border: 2px dashed var(--mantine-color-gray-4);
  border-radius: 3rem;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  transform-style: preserve-3d;
  transition: all 0.4s ease-in-out;
  border: 1px solid var(--mantine-color-gray-3);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);

  img {
    width: 70px;
    height: auto;
  }
}

.front,
.back {
  position: absolute;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.front {
  background: #ff6b64;
  cursor: pointer;

  span {
    font-size: 4rem;
    color: #fff;
  }
}

.back {
  background: #fff;
  transform: rotateY(180deg);
}

.flip {
  transform: rotateY(180deg);
}
