.container {
  max-width: 40rem;
  margin: 0 auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.grid {
  --board-cols: auto-fit;
  --board-rows: auto-fit;
  --card-border-radius: 1rem;
  --grid-gap: 0.25rem;
  --grid-padding: 0.5rem;

  display: grid;
  grid-template-columns: repeat(var(--board-cols), 1fr);
  grid-template-rows: repeat(var(--board-rows), 1fr);
  gap: var(--grid-gap);
  padding: var(--grid-padding);
  perspective: 200rem;
  border: 2px dashed var(--mantine-color-gray-4);
  border-radius: calc(var(--card-border-radius) + var(--grid-padding));
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--card-border-radius);
  transform-style: preserve-3d;
  transition: all 0.4s ease-in-out;
  border: 1px solid var(--mantine-color-gray-3);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  aspect-ratio: 1/1;
  user-select: none;

  img {
    height: 50%;
    aspect-ratio: 1/1;
    object-fit: contain;
  }
}

.front,
.back {
  position: absolute;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.front {
  background: #ff6b64;
  cursor: pointer;

  span {
    font-size: 2rem;
    color: #fff;
  }
}

.back {
  background: #fff;
  transform: rotateY(180deg);
}

.flip {
  transform: rotateY(180deg);
}

.pop {
  animation-name: pop;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(0.9);
  }
  66% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
