#root {
  height: 100%;
}

.pop {
  animation-name: pop;
  animation-duration: 400ms;
  animation-iteration-count: 2;
  animation-timing-function: linear;
}

@keyframes pop {
  0% {
    transform: scale(1) rotateY(180deg);
  }
  33% {
    transform: scale(0.9) rotateY(180deg);
  }
  66% {
    transform: scale(0.95) rotateY(180deg);
  }
  100% {
    transform: scale(1) rotateY(180deg);
  }
}
